{{ define "title"}}Authorize{{ end }}

{{ define "content" }}
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Xác nhận</h2>
                </div>
                <div class="card-body">
                    {{ if .error }}
                        <div class="form-row">
                            <div class="alert alert-danger">
                                <strong style="color: red">{{ .error }}</strong>
                            </div>
                        </div>
                    {{ end }}
                    <form method="POST" action="">
                        {{ if .token }}
                            <div class="form-row p-t-20">
                                <label class="label">Cho phép
                                    <b style="color: #fca130">{{ .clientName }}</b> truy cập dữ liệu đăng nhập của bạn trong ?</label>
                                <div class="p-t-15">
                                    <label class="radio-container m-r-55"> 1 giờ
                                        <input type="radio" name="lifetime" value="3600">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container m-r-55">1 ngày
                                        <input type="radio" name="lifetime" value="86400">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container m-r-55">1 tuần
                                        <input type="radio" name="lifetime" value="604800" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        {{ end }}
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group-desc">
                                    <input type="submit" class="btn btn--radius-2 btn--green" name="allow"
                                           value="Đồng ý">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group-desc">
                                    <input type="submit" class="btn btn--radius-2 btn--red" name="deny" value="Không đồng ý">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{{ end }}