{{ define "title"}}Application{{ end }}

{{ define "content" }}
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Application</h2>
                </div>
                <div class="card-body">
                    {{ if .error }}
                        <div class="form-row">
                            <div class="alert alert-danger">
                                <strong style="color: red">{{ .error }}</strong>
                            </div>
                        </div>
                    {{ end }}
                    <form method="POST" action="">
                        <div class="form-row">
                            <div class="name">Application Name</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="name" id="inputName"
                                           value="{{.name}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="email" name="email" id="inputEmail"
                                           value="{{.email}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">RedirectURI</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="redirectURI" id="inputURI"
                                           value="{{.redirectURI}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Client ID</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" disabled name="clientId"
                                           id="inputClientId" value="{{.clientId}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Client Secret</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" disabled name="clientSecret"
                                           id="inputClientSecret" value="{{.secret}}">
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn--radius-2 btn--green" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{{ end }}

